*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.trafficLight{
    /* border: 1px solid black; */
    margin-top: 300px;
    margin-bottom: 20px;
}
 .trafficLight .trafficContainer{
    width: 102px;
    height: 280px;
    background-color: black;
    margin: auto;
    padding: 10px;
   
}
.trafficLight .trafficLine{
    width: 12px;
    height: 150px;
    background-color: black;
    margin: auto;
}
.trafficContainer .greenLight , .yellowLight , .redLight{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    margin-top: 14px;
   
}

.trafficContainer .greenLight{
  background-color: green;
}
.trafficContainer .yellowLight{
    background-color:yellow;
}
.trafficContainer .redLight{
    background-color:rgb(192, 14, 14);
}
.trafficContainer .greenLight:hover {
    cursor: pointer;
    box-shadow:0px 0px 4px  10px rgb(7, 158, 7);
    transition-duration: .4s;
    transform: translate(-5px);
}

.yellowLight:hover{
    cursor: pointer;
    box-shadow:0px 0px 4px  10px rgb(228, 210, 13);
    transition-duration: .4s;
    transform: translate(-5px);

}

.redLight:hover{
    cursor: pointer;
    box-shadow:0px 0px 4px  10px rgb(216, 41, 32);
    transition-duration: .4s;
    transform: translate(-5px);

}
